[submodule "3rdparty/toml11"]
	path = 3rdparty/toml11
	url = https://github.com/ToruNiina/toml11.git
[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest.git
